header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D96226;
    color: white;
    height: 100px;
    padding: 0 20px;
    top: 0;
    position: sticky;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    padding: 20px;
}
